
.body-bgp{

    background: url("./images/chinapage-imgs/pic2.jpg");
    background-size: cover;
    font-size: 1.6rem;
}


.menu_unterseite {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.logo {
    width: 5rem;
    height: 5rem;
}

.logo img {
    width: 100%;
}

.banner_chinaseite{
    /* header is position:fixed, no place */
    margin-top: 13vh;
    height: 87vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://bpic.51yuansu.com/backgd/cover/00/77/36/65d5b27009047_800.jpg?x-oss-process=image/resize,w_780/sharpen,100");
    background-size: cover;
    background-position: center;
    /* padding-top: 28rem; */

}

.banner_chinaseite h1 {
    font-size: 6rem;
    text-align: center;
    /* margin-top: 25rem; */
    /* padding-top: 15rem; */
    color: #f28136;
    -webkit-text-stroke: 1px white;
}

.banner_chinaseite >h2 , .top_5_places >h2, .weitere_info>h2{
    font-size: 5rem;
    text-align: center;
    padding-top: 4rem;
    color: #f28136;
    -webkit-text-stroke: 1px white;
}

.link_banner_unterseite {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.link_banner_unterseite a {
    background-color: rgb(3, 137, 168, 0.8);
    text-decoration: none;
    font-size: 3rem;
    border-radius: 10%;
    padding: 1.5rem;
    color: #B4C1C8;
}

.main_content_unterseite {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.land_map,
.places_foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.places,
.info_unterseite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    gap: 30px;
}

.text,
.main-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.land_map img,

iframe {
    width: 30rem;
    height: 18rem;
    border-radius: 25% 0%;
}
.places img{
    width: 30rem;
    height: 18rem;
}

.text a,
.main-text a {
    text-decoration: none;
    border-radius: 10%;
    background-color: rgb(3, 137, 168, 0.5);
    padding: 0.7rem;
    color: black;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
}

th,
td {
    text-align: center;
    padding: 0.8rem;
}

tr:nth-child(odd) {
    background-color: #B4C1C8;
}

/* Fotos bewegen */
.move-fotos{
    width: 30rem;
    height: 18rem;
    /* margin: 100px auto; */
    /* border: 4px solid #000; */
    border-radius: 25% 0;
    overflow: hidden;
}

.move-fotos ul{
    width: 90rem;
    display: flex;
    animation: movepics 20s infinite linear;
}

@keyframes movepics{
    to{
        transform: translateX(-60rem);
    }
}

.move-fotos:hover ul{
    animation-play-state: paused;
}

/* @media screen and (min-width: 768px) { */
/* Tab breakpoint 600px-1023px */
@media screen and (min-width: 768px) and (max-width: 991px){
    .land_map img,
    .places img,
    iframe {
        width: 60rem;
        height: 35rem;
    }

}

/* Computer breakpoint >1023px */

@media screen and (min-width: 992px) {

    .places,
    .info_unterseite {
        height: 30rem;
        flex-direction: row;
        justify-content: center;
        margin-top: 4rem;
        gap: 3rem;
    }

    .land_map
   {

        width: 35%;
    
    }

    .land_map,
    .places_foto {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text,
    .main-text {
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .land_map img,
    .places img,
    iframe {
        width: 50rem;
        height: 30rem;
    }

    .main_content_unterseite {
        margin-top: 10rem;
    }

    .move-fotos{
        width: 50rem;
        height: 30rem;
        /* margin: 100px auto; */
        /* border: 4px solid #000; */
        overflow: hidden;
    }
    .move-fotos ul{
        width: 150rem;
        /* display: flex; */
        animation: movepics 20s infinite linear;
    }
    @keyframes movepics{
        to{
            transform: translateX(-100rem);
        }
    }
}