body {
  background-image: url("https://img.freepik.com/free-photo/white-paper-texture_1194-5416.jpg?w=1060&t=st=1708877103~exp=1708877703~hmac=65bee5f56cb8e1088394409ea144f99b295d659b45b106700a8185701b97f1c4");
  background-size: cover;
}

header {
  /* 使用width: 100%不知为何不是理想中的宽度??? */
  /* width: 100%; */
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 2;
}

/*Julijana*/

nav a {
  color: #004aad;
  margin-right: 3rem;
  font-size: 3.5rem;
}

.icon-ju {
  color: #004aad;
}

.logo {
  width: 11.1rem;
  height: 100%;
  /* background-color: rgb(158, 125, 131); */
}
.logo > h1 {
  height: 100%;
}
.logo > h1 > a {
  display: block;
  /* width: 8rem; */
  height: 100%;
  background: url(./Logo-grau-blau.gif) no-repeat center/cover;
  font-size: 0;
}
.logo img {
  width: 100%;
}

/* .hamburger-menu {
  width: 50px;
  height: 50px;
  background-color: rgb(158, 125, 131);
} */

header nav {
  /* height: 50px; */
  display: none;
  /* background-color: rgb(158, 125, 131); */
  justify-content: center;
  align-items: center;
  height: 100%;
  /* padding-top: 13px; */
}

/* nav {
  display: flex;
  align-items: center;
  height: 100%;
} */

/* .sprache-dropdown {
  width: 50px;
  height: 50px;
  background-color: rgb(158, 125, 131);
} */

/* Banner Teil */

.banner {
  /* header is position:fixed, no place */
  margin-top: 13vh;
  height: 87vh;
  background: url(./images/mainpage-imgs/banner1.jpg) no-repeat center/cover;
}

.banner h1 {
  font-size: 6rem;
  text-align: center;
  padding-top: 3rem;
  color: #415e7a;
}

.banner h2 {
  font-size: 5rem;
  text-align: center;
  padding-top: 1rem;
  color: #415e7a;
}

.link_banner {
  position: absolute;
  bottom: 7%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.link_banner a {
  background-color: rgb(65, 94, 122, 0.7);
  text-decoration: none;
  font-size: 3rem;
  border-radius: 10%;
  padding: 1.5rem;
  color: #b4c1c8;
}

/* Main Teil */
main {
  margin-top: 13vh;
}

.reise-ziele h3 {
  display: none;
}

.container-height {
  height: 100vh;
}

.reise-ziele + h3 {
  font-size: 4rem;
  text-align: center;
  color: #f4d965;
}
.einführung {
  margin-bottom: 10rem;
  height: 20rem;
  /* line-height: 2rem; */
  text-align: center;
  font-size: 4rem;
  color: #004aad;
}

.landcards {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 50%; */
}

.plane,
.map {
  width: 10rem;
  /* display: none; */
  visibility: hidden;
}

.landcards a {
  display: block;
  /* width: 20%;
    height: 100%;
     */
}

.card {
  margin-top: 2rem;
  /* width: 100%;
    height: 100%;  */
  width: 20rem;
  height: 20rem;
  /* border: 2px solid black; */
  border-radius: 25% 0;
}

.card-china {
  background: url(./Welcome-Ch.gif) no-repeat center/cover;
}

.card-ukraine {
  background: url(./Welcome-Ua.gif) no-repeat center/cover;
}

.card-mazedonien {
  background: url(./Welcome-Mk-1.gif) no-repeat center/cover;

  /* backdrop-filter: blur(30px); */
}

.card-iran {
  background: url(./Welcome-Ir.gif) no-repeat center/cover;
}

/* Reiseziele Animation Teil */

/* Team Teil */
#our-team {
  margin-top: 10rem;
}

/* footer teil */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(148, 145, 139, 0.32);
  height: 20rem;
  text-align: center;
  padding-top: 1rem;
}
.contact-info {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* position: relative; */
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  /* height: 100%; */
  margin: 0 0.5rem 0 0.5rem;
  font-size: 3.8rem;
}

.icons {
  /* height: 100%; */
  flex: 1;
  align-self: center;
}
.contact-area {
  flex: 2;
  /* margin-top: 4rem; */
}

form {
  /* background-color: #fff; */
  visibility: hidden;
  display: none;
}

#yes:checked ~ form {
  visibility: visible;
  display: block;
  position: absolute;
  transform: translate(-1rem, -42rem);
  /* right: 0; */
}

#no:checked ~ form {
  visibility: hidden;
}

.contact-form div {
  width: 30rem;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #004aad;

  background-color: gainsboro;
  border: 3px dotted #004aad;
}

input[type="submit"] {
  color: #004aad;
  padding: 5px;
  margin-bottom: 5px;
}

.autors {
  margin-top: auto;
}

/*Julijana*/

.burger-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
}

.burger-content a {
  display: block;
  padding: 10px;
  /* text-decoration: none; */
  color: #004aad;
}

.burger-content a:hover {
  background-color: #ddd;
}

.hamburger-menu:hover .burger-content {
  display: block;
}

.dropbtn {
  padding: 10px;
  font-size: 2em;
  background-color: transparent;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  /* text-decoration: none; */
  color: #004aad;
}

span {
  padding-left: 5px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content img {
  width: 1.5rem;
  height: 1.5rem;
}

/* contact Teil Alex */
.alex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-cards {
  margin-bottom: 1rem;
}

/* Tab breakpoint 450px-800px */
@media screen and (min-width: 450px) and (max-width: 800px) {
  header {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }

  .logo {
    order: -1;
  }

  header nav {
    display: flex;
    /* display: block; */
  }

  /* header nav ul {
    display: flex;
    gap: 15px;
  } */

  .landcards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .to-go {
    margin: 0 auto;
  }

  .alex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    /* padding: 5rem; */
  }
}

/* Computer breakpoint >800px */
@media screen and (min-width: 800px) {
  header {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }

  .logo {
    order: -1;
  }

  header nav {
    display: flex;
    /* display: block; */
  }

  .banner h1 {
    padding-left: 50rem;
    padding-top: 35rem;
  }

  .banner h2 {
    padding-left: 50rem;
    padding-top: 5rem;
  }

  .link_banner {
    padding-left: 15rem;
  }

  /* header nav ul {
    display: flex;
    gap: 15px;
  } */

  .reise-ziele {
    height: 80%;
    /* background-color: greenyellow; */
    background: url(./images/mainpage-imgs/map-main.png) no-repeat center/cover;
  }

  .reise-ziele h3 {
    display: block;
    height: 50%;
    line-height: 50rem;
    text-align: center;
  }
  .reise-ziele + h3 {
    display: none;
  }
  .landcards {
    position: relative;
    top: -26rem;
    left: 0px;
    flex-direction: row;
    gap: 5rem;
  }

  .alex {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: rgb(169, 244, 244); */
    padding: 5rem;
  }

  /* .top-place {
    flex-direction: row;
  } */

  /* animation teil */

  .plane {
    visibility: hidden;
    /* display: none; */
    /* opacity: 0; */
  }

  .map {
    width: 10rem;
    visibility: hidden;
    display: none;
    /* opacity: 0;    */
  }

  .to-go:hover .card {
    transform: scale(1.5);
  }
  /* china */
  .to-china:hover .fly-to-china {
    animation: gotochina 1s;
    /* animation-duration: 3s; */
    animation-fill-mode: forwards;
  }

  @keyframes gotochina {
    0% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
      display: block;
      /* opacity: 1; */
      transform: translate(850px, -330px);
    }
  }

  .to-china:hover .china-map {
    visibility: visible;
    /* opacity: 1; */
    display: block;
    position: relative;
    transform: translate(870px, -355px);
  }

  /* ukraine */
  .to-ukraine:hover .fly-to-ukraine {
    animation: gotoukraine 1s;
    /* animation-duration: 3s; */
    animation-fill-mode: forwards;
  }

  @keyframes gotoukraine {
    0% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
      display: block;
      /* opacity: 1; */
      transform: translate(250px, -310px);
    }
  }

  .to-ukraine:hover .ukraine-map {
    visibility: visible;
    /* opacity: 1; */
    display: block;
    position: relative;
    transform: translate(280px, -325px);
  }

  /* mazedonien */
  .to-mazedonien:hover .fly-to-mazedonien {
    animation: gotomazedonien 1s;
    /* animation-duration: 3s; */
    animation-fill-mode: forwards;
  }

  @keyframes gotomazedonien {
    0% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
      display: block;
      /* opacity: 1; */
      transform: translate(10px, -320px);
    }
  }

  .to-mazedonien:hover .mazodonien-map {
    visibility: visible;
    /* opacity: 1; */
    display: block;
    position: relative;
    transform: translate(20px, -325px);
  }

  /* iran */
  .to-iran:hover .fly-to-iran {
    animation: gotoiran 1s;
    /* animation-duration: 3s; */
    animation-fill-mode: forwards;
  }

  @keyframes gotoiran {
    0% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
      /* display: block; */
      opacity: 1;
      transform: translate(-180px, -240px);
    }
  }

  .to-iran:hover .iran-map {
    visibility: visible;
    /* opacity: 1; */
    display: block;
    position: relative;
    transform: translate(-170px, -250px);
  }
}
