header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

/*Julijana*/

nav a {
  color: rgb(130, 34, 34);
  margin-right: 20px;
}

.icon-ju {
  color: rgb(130, 34, 34);
}

.logo {
  width: 8rem;
  height: 8rem;
  /* background-color: rgb(158, 125, 131); */
}

.logo img {
  width: 100%;
}

/* .hamburger-menu {
  width: 50px;
  height: 50px;
  background-color: rgb(158, 125, 131);
} */

header nav {
  /* height: 50px; */
  display: none;
  /* background-color: rgb(158, 125, 131); */
  justify-content: center;
  align-items: center;
  height: 100%;
  /* padding-top: 13px; */
}

/* nav {
  display: flex;
  align-items: center;
  height: 100%;
} */

/* .sprache-dropdown {
  width: 50px;
  height: 50px;
  background-color: rgb(158, 125, 131);
} */

/* Banner Teil */

.banner {
    height: 100vh;
    background: url(./images/mainpage-imgs/banner1.jpg) no-repeat center/cover;
}

/* Main Teil */
main {
  margin-top: 10rem;
}

.reise-ziele h3 {
  display: none;
}

.container-height {
  height: 100vh;
}

.einführung {
  margin-bottom: 10rem;
  height: 20rem;
  line-height: 10rem;
  text-align: center;
  font-size: 4rem;
  color: #415e7a;
}

.landcards {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 50%; */
}

.plane, .map{
    width: 100px;
}

.landcards a {
  display: block;
  /* width: 20%;
    height: 100%;
     */
}

.card {
  margin-top: 2rem;
  /* width: 100%;
    height: 100%;  */
  width: 200px;
  height: 200px;
  /* border: 2px solid black; */
}

.card-china {
    background: url(./images/mainpage-imgs/2\ \(1\).png) no-repeat center/cover;
}

.card-ukraine{
    background: url(./images/mainpage-imgs/Welcome_ua.gif) no-repeat center/cover;
}

/* Reiseziele Animation Teil */

/* Team Teil */
#our-team{
    margin-top: 10rem;
}

/* footer teil */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(148, 145, 139, 0.32);
  height: 20rem;
  text-align: center;
  padding-top: 1rem;
}

.icon-list {
  display: flex;
  justify-content: center;
}

.icon {
  margin: 0 0.5rem 0 0.5rem;
  font-size: 1.8rem;
}

.autors {
  margin-top: auto;
}

/*Julijana*/

.burger-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
}

.burger-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(102, 28, 28);
}

.burger-content a:hover {
  background-color: #ddd;
}

.hamburger-menu:hover .burger-content {
  display: block;
}

.dropbtn {
  padding: 10px;
  /* font-size: 10px; */
  background-color: transparent;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  /* text-decoration: none; */
  color: rgb(102, 28, 28);
}

span {
  padding-left: 5px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content img {
  width: 1.5rem;
  height: 1.5rem;
}

/* Tab breakpoint 450px-800px */
@media screen and (min-width: 450px) and (max-width: 800px) {
  header {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }

  .logo {
    order: -1;
  }

  header nav {
    display: flex;
    /* display: block; */
  
  }

  /* header nav ul {
    display: flex;
    gap: 15px;
  } */

  .landcards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/* Computer breakpoint >800px */
@media screen and (min-width: 800px) {
  header {
    display: flex;
  }

  .hamburger-menu {
    display: none;
  }

  .logo {
    order: -1;
  }

  header nav {
    display: flex;
    /* display: block; */
  }

  /* header nav ul {
    display: flex;
    gap: 15px;
  } */

    .reise-ziele {
        height: 80%;
        /* background-color: greenyellow; */
        background: url(./images/mainpage-imgs/map-main.png) no-repeat center/cover;
    }

  .reise-ziele h3 {
    display: block;
    height: 50%;
    line-height: 50rem;
    text-align: center;
  }

    .landcards {
        position: relative;
        top: -26rem;
        left: 0px;
        flex-direction: row;
        gap: 5rem;
    }

  .top-place {
    flex-direction: row;
  }

  /* animation teil */

  .plane {
    visibility: hidden;
    /* display: none; */
    /* opacity: 0; */
  }

  .map {
    width: 10rem;
    visibility: hidden;
    display: none;
    /* opacity: 0;    */
  }

    .to-go:hover .card{
        transform: scale(1.5);
    }
    /* china */
    .to-china:hover .fly-to-china {
        animation: gotochina 1s;
        /* animation-duration: 3s; */
        animation-fill-mode: forwards;
    }

  @keyframes gotochina {
    0% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
      display: block;
      /* opacity: 1; */
      transform: translate(850px, -330px);
    }
  }

  .to-china:hover .china-map {
    visibility: visible;
    /* opacity: 1; */
    display: block;
    position: relative;
    transform: translate(870px, -355px);
  }

    /* ukraine */
    .to-ukraine:hover .fly-to-ukraine {
        animation: gotoukraine 1s;
        /* animation-duration: 3s; */
        animation-fill-mode: forwards;
    }
  

  @keyframes gotoukraine {
    0% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
      display: block;
      /* opacity: 1; */
      transform: translate(250px, -310px);
    }
  }

  .to-ukraine:hover .ukraine-map {
    visibility: visible;
    /* opacity: 1; */
    display: block;
    position: relative;
    transform: translate(280px, -325px);
  }

  /* mazedonien */
  .to-mazedonien:hover .fly-to-mazedonien {
    animation: gotomazedonien 1s;
    /* animation-duration: 3s; */
    animation-fill-mode: forwards;
  }

  @keyframes gotomazedonien {
    0% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
      display: block;
      /* opacity: 1; */
      transform: translate(10px, -320px);
    }
  }

  .to-mazedonien:hover .mazodonien-map {
    visibility: visible;
    /* opacity: 1; */
    display: block;
    position: relative;
    transform: translate(20px, -325px);
  }

  /* iran */
  .to-iran:hover .fly-to-iran {
    animation: gotoiran 1s;
    /* animation-duration: 3s; */
    animation-fill-mode: forwards;
  }

  @keyframes gotoiran {
    0% {
      visibility: hidden;
    }

    100% {
      visibility: visible;
      /* display: block; */
      opacity: 1;
      transform: translate(-180px, -240px);
    }
  }

  .to-iran:hover .iran-map {
    visibility: visible;
    /* opacity: 1; */
    display: block;
    position: relative;
    transform: translate(-170px, -250px);
  }
}
